form{
    width: 300px;
    background-color: beige;
    padding: 2%;
    margin-top: 10%;
}
 .bg-danger {
    background-color: red !important;
}
.bg-warning {
    background-color: orange !important;
}
.bg-success {
    background-color: green !important;
} 
