#heady{
    text-align: center;
    color: white;
}
footer{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;

}
#footer-logo{
    width: 99%;
    height: auto;
} 
.footer-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-column {
    flex: 1;
    padding: 20px;
    text-align: left;

}
.footer-column h3{
    color: #fff;
} 
.socials a{
    text-decoration: none;
    padding: 20px;
    align-content: center;
    justify-content: center;
}
footer ul li a{
    color:#a8a8a8;
    text-decoration: none;
}
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}
.footer-icons img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

